:root {
  --font-color: #333;
  --background-color: #eee;
}
[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
}
form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
  margin: auto;
  padding: 16px;
  text-align: center;
  max-width: 320px;
}
input {
  border: none;
  color: var(--font-color);
  border: 3px solid transparent;
  background-color: var(--background-color);
  padding: 16px;
  border-radius: 8px;
  transition: all 0.3s linear;
}
input:focus {
  border: none;
  outline: none;
  border: 3px solid var(--font-color);
}
input[type="submit"] {
  font-weight: bold;
  border: 3px solid var(--font-color);
  border-radius: 16px;
}
button {
  padding: 16px;
  background-color: var(--background-color);
  border: none;
  color: var(--font-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  form {
    max-width: none;
  }
}
